
discord-api/logs/application.log

discord-api/logs/debug.log

discord-api/logs/error.log

discord-api/logs/info.log

discord-api/logs/sendResult.log

discord-api/src/main/resources/application.yml

discord-common/src/main/resources/properties/database/hana-database-production.properties

logs/application.log

logs/archived/application.log.2021-01-05

logs/archived/error.log.2021-01-05

logs/archived/info.log.2021-01-05

logs/discord-api.pid

logs/error.log

logs/info.log
